html, body {
	height: 100%;
	margin: 0;
	font-size: 110%;
}

body {
	display: flex;
	color: white;
	justify-content: center;
	font-family: "Tahoma", sans-serif;
	text-align: center;
	background: #262525;
}
